<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <div th:replace="/fragment/header.html :: fragment-header"></div>
</head>

<body>
    <div th:replace="/fragment/nav.html :: fragment-nav"></div>

    <div class="container">
        <img src="../static/resources/images/images.jpg" th:src="@{/resources/images/images.jpg}" class="rounded">
        <h2>welcome my blog!</h2>
    </div>

    <footer th:replace="/fragment/footer.html :: fragment-footer"></footer>

</body>
</html>